* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
/* -----------COMMON CSSS------------ */
.content {
    width: min(1170px, calc(100vw - 48px));
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    opacity: 0.7;
}
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}
/* -----HEADER------------ */
.header {
    padding: 24px 0;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__menu {
    margin-left: auto;
}
.header__list {
    display: flex;
}
.header__link {
    display: inline-block;
    padding: 10px 23.5px;
    color: #696d76;
    line-height: 28px;
}
.header__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
    line-height: 28px;
    /* font-weight: 600; */
}
.header__link--active {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}
.header__link--active::after {
    content: "";
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
    display: block;
}
.header__action {
    margin-left: 430.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.header__log-in {
    color: #212832;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.header_sign-up {
    width: 113px;
    height: 52px;
    border-radius: 6px;
    background: #212832;
    color: #fff;
    font-weight: 600;
    line-height: 28px;
}
/* TEST */
/* .test {
    color: #212832;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px; 
    width: 500px;
}
.test span {
    color: #7264d6;
    display: inline-block;
} */

/* ---------HERO CSSS--------------- */
.hero {
    margin-top: 52px;
}
.hero__inner {
    display: flex;
    align-items: center;
    gap: 160px;
}
.eyebrown {
    color: #696d77;
    line-height: 28px;
    display: flex;
    align-items: center;
}
.eyebrown::before {
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    display: inline-block;
    margin-right: 12px;
}
.hero__title {
    color: #212832;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 12px;
    width: 500px;
}
.hero__title span {
    color: #7264d6;
    display: inline-block;
}
.hero__desc {
    color: #696d76;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 30px;
    width: 540px;
    margin-top: 20px;
}
.hero__contact {
    margin-top: 40px;
}
.hero__email {
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
}
.hero__contact:has(:invalid) .hero__submit {
    pointer-events: none;
    opacity: 0.5;
}
.hero__input {
    width: 100%;
    height: 100%;
    padding: 23px;
    border-radius: inherit;
    background-color: #fff;
}
.hero__submit {
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #7264d6;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 28px;
    flex-shrink: 0;
    cursor: pointer;
}
.hero__contact-bottom {
    margin-top: 20px;
    color: #696d76;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.hero__media {
    position: relative;
}
.hero__img {
    width: 296px;
    height: 562px;
    object-fit: cover;
}
.hero__deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    /* background: red; */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
}
.hero__deposite-text-1 {
    color: #31456a;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin-left: 8px;
}
.hero__deposite-text-2 {
    color: #4ab5e3;
    font-size: 14px;
    line-height: 14px;
    margin-left: 19px;
}
.hero__interest {
    position: absolute;
    top: 127px;
    right: -174px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero__interest-number {
    color: #fff;
    font-size: 44px;
    font-weight: 600;
    line-height: normal;
}
.hero__interest-text {
    color: #fff;
    line-height: normal;
}
.hero__funds {
    position: absolute;
    right: -74px;
    bottom: 61px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 14px;
}
.hero__funds-infor {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hero__fund-number {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
.hero__fund-text {
    color: #fff;
    font-size: 8px;
    line-height: 8px;
}

/* -------------HOW IT WORKS------------- */
.works {
    margin-top: 160px;
}
.works__inner {
    display: flex;
    justify-content: space-between;
    gap: 237px;
}
.works__media {
    width: 470px;
    height: 619px;
    background: url("../img/works.svg") no-repeat center bottom;
    flex-shrink: 0;
    position: relative;
}
.works__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.works__content {
    overflow-x: hidden;
}
.works__title {
    color: #212832;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 12px;
}
.works__list {
    margin-top: 70px;
}
.works__question {
    color: #212832;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    width: 470px;
}
.works__answer {
    color: #696d76;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 28px;
    width: 470px;
}
.works__icon--1 {
    position: absolute;
    top: 76px;
    right: 55px;
}
.works__toast {
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: 96px;
    right: -107px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
.works__toast-title {
    color: #212832;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
.works__toast-desc {
    color: #696d76;
    font-family: Inter;
    font-size: 12px;
    line-height: normal;
    margin-top: 5px;
}
/* ---------Wallet CSSS------------------- */
.wallet {
    margin-top: 160px;
}
.wallet__inner {
    display: flex;
    align-items: center;
    gap: 97px;
}
.wallet__title {
    width: 470px;
    color: #212832;
    font-weight: 700;
    line-height: 50px;
    font-size: 40px;
    margin-top: 12px;
}
.wallet__desc {
    color: #696d76;
    font-size: 18px;
    line-height: 30px;
    width: 470px;
    margin-top: 20px;
}
.wallet__feature-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 28px;
}

.feature__list-item {
    color: #212832;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.feature__list-item::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #7264d6;
    display: inline-block;
    margin-right: 12px;
}
.wallet__btn {
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #212832;
    color: #fff;
    font-weight: 600;
    line-height: 28px;
    margin-top: 53px;
}
.wallet__media {
    width: 482px;
    height: 322px;
    flex-shrink: 0;
    position: relative;
}
.wallet__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}
.wallet__send {
    position: absolute;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
    top: -48px;
    right: -88px;
}
.wallet__send {
    display: flex;
    align-items: center;
    padding: 23px 13px;
}
.wallet__send-img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    /* opacity: 0.1; */
    /* background: #da6464; */
    box-shadow:
        -4px -2px 16px 0 #fff,
        4px 2px 16px 0 rgba(136, 165, 191, 0.48);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.wallet__send-img-wrap::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0.1;
    background: #da6464;
}
.wallet__send-info {
    margin-left: 14px;
}
.wallet__send-heading {
    color: #212832;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}
.wallet__send-text {
    color: #696d76;
    font-family: Inter;
    font-size: 10px;
    line-height: normal;
    margin-top: 4px;
}
.wallet__send-money {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.wallet__send-number {
    color: #212832;
    font-family: Inter;
    line-height: normal;
}
.wallet__send-date {
    color: #696d76;
    text-align: right;
    font-family: Inter;
    font-size: 10px;
    line-height: normal;
}
.wallet__income {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    bottom: -55px;
    right: -88px;
    padding: 14px 15px;
    display: flex;
    flex-direction: column;
}
.wallet__income-img-wrap {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallet__income-text {
    color: #fff;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: normal;
    margin-top: 14px;
}
.wallet__income-number {
    color: #fff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-top: 6px;
}
/* --------------TRANSFER--------------------- */
.transfer {
    margin-top: 160px;
}
.transfer__inner {
    display: flex;
    gap: 130px;
}
.transfer__media {
    width: 570px;
    height: 600px;
    position: relative;
    background: url("../img/transfer-1.svg") no-repeat left bottom;
    background-size: auto;
    /* background-color: red; */
}
.transfer__content {
    flex-shrink: 0;
    overflow-x: hidden;
}
.transfer__img {
    height: 100%;
    object-fit: cover;
    margin-left: 29px;
}
.transfer__method {
    width: 281px;
    height: 220px;
    background-color: #fff;
    filter: drop-shadow(0 44px 48px rgba(0, 0, 0, 0.1));
    position: absolute;
    right: 23px;
    bottom: 57px;
    /* background-color: red; */
    border-radius: 10px;
    padding: 28px;
}
.transer__method-title {
    color: #212832;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.transfer__method-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}
.transfer__method-item {
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transfer__method-decor {
    position: absolute;
    top: -33px;
    right: -24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #7264d6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transfer__title {
    color: #212832;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    width: 470px;
    margin-top: 12px;
}
.transfer__desc {
    color: #696d76;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    width: 470px;
}
.transfer__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 28px;
}
.transfer__feature {
    color: #212832;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    display: flex;
    align-items: center;
}
.transfer__feature::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #7264d6;
    border-radius: 50%;
    margin-right: 12px;
}
.transfer__btn {
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #212832;
    color: #fff;
    font-weight: 600;
    line-height: 28px;
    margin-top: 38px;
}
/* ---------------Clients--------------- */
.clients {
    margin-top: 160px;
}
.eyebrown--clients {
    justify-content: center;
}
.clients__title {
    color: #212832;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 12px;
}
.clients__desc {
    color: #696d76;
    text-align: center;
    line-height: 28px;
    width: 435px;
    margin-inline: auto;
    margin-top: 18px;
}
.clients__list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}
.clients__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients__content {
    position: relative;
    height: 254px;
    width: 570px;
    background-color: #fff;
    border: 1px solid #dfe2e8;
    border-radius: 10px;
    padding: 42px 28px;
    transition: transform 0.3s ease;
}
.clients__content:hover {
    transform: translateY(-18px);
    border: 1px solid transparent;
    filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
}
.clients__content::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 60px;
    background-color: inherit;
    border-bottom: inherit;
    border-right: inherit;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(56deg) skew(22deg);
    border-radius: 8px 0px 8px 0px;
}
.clients__text {
    color: #696d76;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    line-height: 34px;
}
.clients__img-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
    margin-top: 96px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.clients__item:nth-child(2) .clients__img-wrap {
    background: #439f90;
}
.clients__img {
    max-width: 100%;
    max-height: 90%;
    object-fit: cover;
}
.clients__name {
    color: #070052;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 20px;
}
.clients__role {
    color: #696d76;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.client__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 38px;
}
.client__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
    cursor: pointer;
}
.client__dot--active {
    background: #7264d6;
    border: 1px solid #7264d6;
}
