* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
/* -----------COMMON CSSS------------ */
.content {
    width: min(1170px, calc(100vw - 48px));
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    opacity: 0.7;
}
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}
/* -----HEADER------------ */
.header {
    padding: 24px 0;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__menu {
    margin-left: auto;
}
.header__list {
    display: flex;
}
.header__link {
    display: inline-block;
    padding: 10px 23.5px;
    color: #696d76;
    line-height: 28px;
}
.header__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
    line-height: 28px;
    /* font-weight: 600; */
}
.header__link--active {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}
.header__link--active::after {
    content: "";
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
    display: block;
}
.header__action {
    margin-left: 430.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.header__log-in {
    color: #212832;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.header_sign-up {
    width: 113px;
    height: 52px;
    border-radius: 6px;
    background: #212832;
    color: #fff;
    font-weight: 600;
    line-height: 28px;
}
/* TEST */
/* .test {
    color: #212832;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px; 
    width: 500px;
}
.test span {
    color: #7264d6;
    display: inline-block;
} */

/* ---------HERO CSSS--------------- */
.hero {
    margin-top: 52px;
}
.hero__inner {
    display: flex;
    align-items: center;
    gap: 160px;
}
.hero__eyebrown {
    color: #696d77;
    line-height: 28px;
    display: flex;
    align-items: center;
}
.hero__eyebrown::before {
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    display: inline-block;
    margin-right: 12px;
}
.hero__title {
    color: #212832;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 12px;
    width: 500px;
}
.hero__title span {
    color: #7264d6;
    display: inline-block;
}
.hero__desc {
    color: #696d76;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 30px;
    width: 540px;
    margin-top: 20px;
}
.hero__contact {
    margin-top: 40px;
}
.hero__email {
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
}
.hero__contact:has(:invalid) .hero__submit {
    pointer-events: none;
    opacity: 0.5;
}
.hero__input {
    width: 100%;
    height: 100%;
    padding: 23px;
    border-radius: inherit;
    background-color: #fff;
}
.hero__submit {
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #7264d6;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 28px;
    flex-shrink: 0;
    cursor: pointer;
}
.hero__contact-bottom {
    margin-top: 20px;
    color: #696d76;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.hero__media {
    position: relative;
}
.hero__img {
    width: 296px;
    height: 562px;
    object-fit: cover;
}
.hero__deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    /* background: red; */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
}
.hero__deposite-text-1 {
    color: #31456a;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin-left: 8px;
}
.hero__deposite-text-2 {
    color: #4ab5e3;
    font-size: 14px;
    line-height: 14px;
    margin-left: 19px;
}
.hero__interest {
    position: absolute;
    top: 127px;
    right: -174px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero__interest-number {
    color: #fff;
    font-size: 44px;
    font-weight: 600;
    line-height: normal;
}
.hero__interest-text {
    color: #fff;
    line-height: normal;
}
.hero__funds {
    position: absolute;
    right: -74px;
    bottom: 61px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 14px;
}
.hero__funds-infor {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hero__fund-number {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
.hero__fund-text {
    color: #fff;
    font-size: 8px;
    line-height: 8px;
}
